@font-face {
    font-family: "inter";
    src: url("./assets/fonts/Inter-Regular.ttf");
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "inter";
}

p {
    margin: 0;
}

.calculator-container {
    margin: 3rem 0;
    background-color: #D8EFFD;
    border: 1px black solid;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 50px 12px;
}

.result-container {
    border-radius: 4px;
    width: 17rem;
    min-height: 6rem;
    background-color: #F9F9F9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
}

.tiny-amogus-image {
    padding-left: 4px;
    padding-top: 4px;
    max-width: 1.75rem;
    max-width: 2rem;
}

.result-text{
    text-align: right;
    padding: 0 0.5rem;
    color: black;
    font-size: 24px;
    font-family: Inter;
    font-weight: 400;
    word-wrap: break-word
}


.buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.5rem;
}

.btn {
    background-color: #F9F9F9; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
    max-width: 3rem;
    max-height: 3rem;
}

.btn:hover {
    cursor: pointer;
    background-color: #e8e8e8;
}

.btn-text{
    font-size: 1.5rem;
    color: #D8EFFD;
    font-weight: 400;
    -webkit-text-stroke: black 0.5px;
}

.btn-icon{
    max-width: 1rem;
    max-width: 1rem;
}

/* handle edge cases */
.backspace-btn-text,
.backspace-btn-icon {
    margin-top: 12px;
}
.modulo-btn-text,
.modulo-btn-icon,
.subtract-btn-icon,
.plus-btn-icon,
.divide-btn-text {
    margin-top: 4px;
}
.divide-btn-icon,
.digit-zero-btn-icon {
    margin-top: 6px;
}
.multiply-btn-icon{
    margin-top: 8px;
}
.abigus-btn-icon{
    max-width: 3rem;
    max-height: 3rem;
}
.dot-btn{
    gap: 6px;
}





